Repository codurance/open-space, pull requests merged in 2019-09, with the labels that each got.

#33 Backend hello world
  packages/backend/.gitattributes
  packages/backend/.gitignore
  packages/backend/README.md
  packages/backend/build.gradle
  packages/backend/gradle/wrapper/gradle-wrapper.jar
  packages/backend/gradle/wrapper/gradle-wrapper.properties
  packages/backend/gradlew
  packages/backend/gradlew.bat
  packages/backend/settings.gradle
  packages/backend/src/main/java/com/codurance/open_space/App.java
  packages/backend/src/main/java/com/codurance/open_space/HelloWorld.java
  packages/backend/src/main/java/com/codurance/open_space/HelloWorldController.java
  packages/backend/src/test/java/com/codurance/open_space/HelloWorldControllerShould.java
  packages/backend/src/test/resources/application.yml
  packages/backend/src/test/resources/logback.xml
  packages/backend/test
Labels: backend, devops

#32 Frontend/helloworld
  packages/frontend/.gitignore
  packages/frontend/README.md
  packages/frontend/app/__mocks__/file-mock.js
  packages/frontend/app/jest.config.js
  packages/frontend/app/package.json
  packages/frontend/app/public/favicon.ico
  packages/frontend/app/public/index.html
  packages/frontend/app/public/logo192.png
  packages/frontend/app/public/logo512.png
  packages/frontend/app/public/manifest.json
  packages/frontend/app/public/robots.txt
  packages/frontend/app/src/App.css
  packages/frontend/app/src/App.test.tsx
  packages/frontend/app/src/App.tsx
  packages/frontend/app/src/index.css
  packages/frontend/app/src/index.tsx
  packages/frontend/app/src/logo.svg
  packages/frontend/app/src/react-app-env.d.ts
  packages/frontend/app/src/serviceWorker.ts
  packages/frontend/app/tsconfig.json
  packages/frontend/app/yarn.lock
  packages/frontend/test
Labels: frontend

#38 Devops/setup backend circleci
  .circleci/config.yml
  packages/backend/gradlew
Labels: devops

#43 Backend - GET and POST Requests, H2 DB
  packages/backend/build.gradle
  packages/backend/src/main/java/com/codurance/open_space/OpenSpaceSession.java
  packages/backend/src/main/java/com/codurance/open_space/OpenSpaceSessionController.java
  packages/backend/src/main/java/com/codurance/open_space/OpenSpaceSessionRepository.java
  packages/backend/src/main/resources/application.yml
  packages/backend/src/main/resources/data.sql
  packages/backend/src/test/java/com/codurance/open_space/OpenSpaceSessionControllerShould.java
Labels: backend

#49 Add caching to circleci build for frontend
  .circleci/config.yml
Labels: frontend

#50 Backend PUT & DELETE API
  packages/backend/gradle/wrapper/gradle-wrapper.properties
  packages/backend/src/main/java/com/codurance/open_space/OpenSpaceSessionController.java
  packages/backend/src/main/java/com/codurance/open_space/RestResponseEntityExceptionHandler.java
  packages/backend/src/test/java/com/codurance/open_space/OpenSpaceSessionControllerShould.java
Labels: backend

#42 Frontend/post session
  packages/frontend/app/package.json
  packages/frontend/app/src/App.test.tsx
  packages/frontend/app/src/App.tsx
  packages/frontend/app/src/common/http.ts
  packages/frontend/app/src/session/Session.test.tsx
  packages/frontend/app/src/session/Session.tsx
  packages/frontend/app/src/session/SessionContainer.tsx
  packages/frontend/app/src/session/SessionForm.tsx
  packages/frontend/app/src/session/Sessions.test.tsx
  packages/frontend/app/src/session/Sessions.tsx
Labels: frontend

#53 Frontend sort sessions
  packages/frontend/app/src/session/Sessions.tsx
Labels: frontend

#57 Frontend/add semantic ui
  packages/frontend/app/package.json
  packages/frontend/app/public/index.html
  packages/frontend/app/src/session/Session.tsx
  packages/frontend/app/src/session/SessionEditForm.tsx
  packages/frontend/app/src/session/SessionForm.tsx
  packages/frontend/app/src/session/Sessions.tsx
  packages/frontend/app/src/session/session.css
  packages/frontend/app/src/session/sessions.css
  packages/frontend/app/yarn.lock
Labels: UX/UI, frontend
